<h1>Edit Achievements for <%= @student.name %></h1>

<%= form_tag update_achievements_student_path(@student) do %>
  <ul>
    <% @achievements.each do |t| %>
      <li>
        <table>
          <td><%= check_box_tag "achievements[#{t.id}]", true, @student.achievements.include?(t) %></td>
          <td><%= t.name %></td>
          <td><%= t.description %></td>
          <td><%= t.points %></td>
        </table>
      </li>
    <% end %>
  </ul>
  <%= check_box_tag "Add to all students?", true, @students %>
  <%= submit_tag "Save Achievements" %>
  <%= link_to "Back to Dashboard", teachers_path %>
<% end %>
